<div class="py-3 bg-dark footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="nav d-flex justify-content-center">
					<li class="nav-item">
						<a
							class="nav-link active"
							href="https://play.google.com/store/apps/dev?id=8043015771784699095"
							target="_blank"
							>Google Play</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link active"
							href="https://apps.apple.com/us/developer/damien-pirotte/id1656071322"
							target="_blank"
							>App Store</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/privacy">Privacy & Terms</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/support">Support</a>
					</li>
				</ul>
			</div>

			<div class="col-md-12 text-center">
				<ul class="nav justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="https://twitter.com/NightDreamGames" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.instagram.com/graded.mobile" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.facebook.com/61551463161459" target="_blank">
							<i class="fab fa-facebook"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.linkedin.com/company/nightdreamgames" target="_blank">
							<i class="fab fa-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12 text-center">
				<p class="copyright mb-0 py-1">© 2024 NightDream Games. All rights reserved.</p>
			</div>
		</div>
	</div>
</div>
